
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1, h2, p, a, table, tr, th{
    font-family: "Inter", sans-serif;
}

body{
    background-color: aquamarine;
}

.bubbleBox{
    border-radius: 20px;
    background-color: white;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding:10px 10px 10px 10px;
}